*{
    /* display: inline-flexbox; */
    box-sizing: border-box;
}
.navbar{ 
    background-color: #607D8B;;
    border-radius: 15px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 10px auto;
    padding: 5px 10px;
    border: 25px rgb(211, 247, 226);
    font-size: 20px;
}
.navbar li a{
    text-decoration: none;
    color: rgb(186, 196, 191);
}
.navbar li a:hover{
    color:rgb(225, 231, 228);
}
/* .navbar li a:visited{
    color: rgb(199, 141, 141);
} */
.navbar input{
    border: 2px rgb(83, 29, 29) solid;
    border-radius: 5px;
}
.search{
    float: right;
    padding: 5px 25px;
    margin: 10px auto;
}

h1,i{
    text-align: center;
    font-size: 70px;
    color:darkslategray;
    font-style:italic;
}

h1 {
    margin-top: 5px;
}

.container{
    /* display: flex; */
    background-color: rgb(160, 150, 150);
    border: 3px solid #607D8B;
    padding: 35px;
    margin: 10px;
    border-radius: 22px;
}

.aboutlist,li{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}

h3{
    font-size: 30px;
    color:darkslategray;
}

img{
    width: 25%;
    height: 25%;
    margin: auto;
    border: 3px solid #607D8B;
    border-style: solid;
    border-radius: 50px;
}

.myself,h2{
    text-align: center;
    color:darkslategray;
}

#top{
    text-align: center;
}
.social {
    padding: 20px;
    width: 100px;
    margin: 5px 2px;
    border: 3px solid #607D8B;
    border-radius: 20px;
  }

  
.social:hover {
    opacity: 0.8;
}
.linkedin {
    background: #007bb5;
}
.git1 {
    background: #000;
}

#top1 {
    float: right;
    width: 70px;
    margin-right: 7px;
}
